<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>11449139495-fg9r5sbf4lcrvubkuv8rtdobbark0h3e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.11449139495-fg9r5sbf4lcrvubkuv8rtdobbark0h3e</string>
	<key>API_KEY</key>
	<string>AIzaSyAjG841es7o7KdPdSB5sr14bmrh2gq0ol4</string>
	<key>GCM_SENDER_ID</key>
	<string>11449139495</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dinnova.dokan-ios</string>
	<key>PROJECT_ID</key>
	<string>shopy-swiss</string>
	<key>STORAGE_BUCKET</key>
	<string>shopy-swiss.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:11449139495:ios:ebe75a39b769db86cbe902</string>
</dict>
</plist>